html {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 100vh;
}

.topleft {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.topright {
  display: flex;
  grid-column-start: 3;
  grid-column-end: 5;
  justify-content: right;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 2;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
  background-color: red;
}

.posts {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  background-image: url(anonymous_mask_background.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

.post {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: red;
  color: black;
}
