{% extends 'cat_api/base.html' %}
{% block title %}Cat API{% endblock %}
{% block content %}
<div class="container">
  {% comment %}
  <div class="row m-3">
    <div class="col"></div>
    <div class="col text-center">
      <a href="{% url 'cat_api:random' %}"><Button class="btn btn-primary">Random Cat!</Button></a>
    </div>
    <div class="col"></div>
  </div>
  <div class="row m-3">
    <div class="col"></div>
    <div class="col text-center">
      {% for cat in cats %}
      <img src="{{ cat.url }}" alt="Random Cat Picture">
      {% endfor %}
    </div>
    <div class="col"></div>
  </div>
  {% endcomment %}
  <form action="{% url 'cat_api:category' %}" method="POST">
    {% csrf_token %}
    <label for="category">Choose a Category</label>
    <select name="category" id="category">
      {% for category in categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %} 