{% extends 'blog/base.html' %} 
{% block content %}
<div>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum consectetur
  esse magnam nam totam fugit, voluptates quos excepturi molestias culpa.
</div>
<div>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, ex iste
  ut eaque quas quam odit molestiae distinctio sequi officia?
</div>
<div>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet voluptatem
  voluptatibus, nesciunt sequi a placeat obcaecati sint! Doloremque,
  voluptatibus quos.
</div>
{% endblock %}
