{% extends 'blog/base.html' %} 
{% block content %}
            <div>
                <form action="{% url 'blog:login' %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button type="submit">Login</button>
                    <a href="{% url 'blog:register' %}">or signup</a>
            </div>
{% endblock %}