{% extends 'contacts/base.html' %}
{% block content %}


<h1 class="header">All Contacts</h1>

<!-- form to add new contact -->
<form action="{% url 'contacts:save_contact' %}" method="POST" class="forms">
    {% csrf_token %}
    
    <input type="text" name="first_name" placeholder="First Name"/>
    <input type="text" name="last_name" placeholder="Last Name"/>
    <input type="text" name="phone_number" placeholder="phone Number"/>
    <input type="text" name="email" placeholder="Email"/>
    <input type="text" name="address" placeholder="Full address"/>
    <label for="cool">
        Is Cool:
        <input type="checkbox" name="is_cool">
    </label>
    
    <input type="submit" value="Submit">
    
</form>

<!-- Loop over all contacts -->
<div class='cool-not-cool'>
    
    <div class='cool'>
        {% for contact in cool_contacts %}
        <div>
            <h1>
                <a href="{% url 'contacts:detail' contact.id %}">
                    Name: {{contact.full_name}} is {{contact.coolness}}
                </a>
            </h1>
            
        </div>
        {% endfor %}
    </div>
    
    <div class='not-cool'>
        {% for contact in not_cool_contacts %}
        <div>
            <h1>
                <a href="{% url 'contacts:detail' contact.id %}">
                    Name: {{contact.full_name}} is {{contact.coolness}}
                </a>
            </h1>
        </div>    
            
    </div>
    {% endfor %}
    
</div>
{% endblock %}