{% extends 'shortener/base.html' %}
{% block title %} URL Shortener {% endblock %}

{% block content %}
  <form action="{% url 'shortener:save' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="url" placeholder="URL">
    <button type="submit">Shorten</button>
    <span>{{ short_link }}</span>
  </form>
  <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>URL</th>
        <th>Visits</th>
      </tr>
    </thead>
    <tbody>
      {% for url in shortened_urls %}
        <tr>
          <td><a href="{% url 'shortener:redir' url.code %}">{{url.code}}</a></td>
          <td title="{{url.url}}">{{url.url}}</td>
          <td>{{url.visits}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}