<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up for Ask CodeBusters</title>
</head>
<body>
    {% include 'polls/_navbar.html' %}
    <form action="{% url 'polls:signup' %}" method='POST'>
        {% csrf_token %}
        <input type="text" name='username' placeholder='username' required>
        <input type="password" name='password' placeholder="password" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="first_name" placeholder="First name" required>
        <input type="text" name="last_name" placeholder="Last name" required>
        <button type="submit">Signup</button>

    </form>
    
</body>
</html>