body {
  background-color: transparent;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/327/967/764/super-dragonballs-dragon-ball-super-wallpaper-preview.jpg);
  background-size: 1325px 720px;
  max-width: 600px;
  margin: auto;
  padding: 1em;
}
