* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: hsl(226, 70%, 32%);
}

/* body {
  text-align: center;
  background-color: hsl(222, 22%, 62%);
} */

.page {
  display: flex;
  flex-direction: column;
  background-color: hsl(222, 22%, 62%);
  /* border: 2px solid red; */
}

.head {
  border: 2px solid black;
  width: 100%;
  height: 35%;
  text-align: center;
  font-size: 28px;
  padding: 1.5em;
}

.blurb_one {
  /* border: 2px solid black; */
  width: 100%;
  height: 10%;
  /* justify-content: center; */
  text-align: center;
  font-size: 1.25em;
  padding: 1em;
  /* white-space: nowrap; */
}

.blurb_two {
  /* border: 2px solid green; */
  width: 100%;
  height: 5%;
  /* justify-content: center; */
  text-align: center;
  font-size: 1.25em;
  padding: 1em;
  /* white-space: nowrap; */
}

.tier4 {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.album_cover {
  /* border: 2px solid blue; */
  font-size: 20px;
  text-align: right;
  width: 66%;
  height: 40%;
}

/* animate the images, overlay with fade */
/* @keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
} */

#fading {
  /* position: absolute; */
  /* max-width: 15%;
  max-height: 10%; */
}

.top {
  width: 100%;
  height: 100%;
}

.bottom {
  width: 100%;
  height: 100%;
}

/* #fading .top {
  animation-name: fadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-direction: alternate;
} */

.quote {
  /* border: 2px solid yellow; */
  font-size: 24px;
  width: 33%;
  height: 60%;
  padding: 4em 1em;
}

.the_quote {
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  margin: 2em;
}

.disc {
  /* border: 2px solid blue; */
  width: 100%;
  height: 70vh;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  padding-top: 2em;
}

.disc_list {
  list-style-image: url(img.icons8.com.png);
  /* border: 2px solid yellow; */
  width: 100%;
  text-align: left;
  font-size: 18;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-weight: 200;
  padding-left: 10em;
  margin: 1em 1em 3em 1em;
}
