* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-width: 100%;
}

body {
  background-color: rgba(169, 169, 169, 0.705);
}

a {
  color: blue;
}

h1 {
  display: flex;
  justify-content: center;
  color: rgba(5, 27, 228, 0.705);
  font-size: 3em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 3px solid black;
}

.all_pokemon {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding-left: 5em;
}

nav {
  font-size: 1.5em;
  padding-left: 2em;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(13, 49, 207);
  font-size: 2em;
  padding-top: 1em;
  padding-left: 10em;
}
