* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 10px;
    padding: 2.5px;
    font-family: sans-serif;
    /* text-align: center; */
    background-color: #333;
    color: aliceblue;
}

h1 {
    text-align: center;
}

legend {
    text-align: center;
}
.navbar {
    display: flex;
    direction: row;
    position: relative;
}

/* input [type="textarea"] {
    font-weight: 600;
} */

/* nav > ul > li{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* height: 100%;
    max-width: 100%;
    
} */ 
img{
    width: 300px;
    height: 150px;
}
a {
    text-decoration: none;
}

nav ul {
    list-style: none;
}
nav > ul > li{
    float: left;
    text-align: center;
}

nav ul li a {
    display: inline-block;
    width: 125px;
    color: inherit;
}

nav ul li a:hover {
    background-color: grey;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba (220,220,220, .8);
}
nav ul li :hover > ul {display: block;}