<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo</title>
</head>
<body>
  <form action="{% url 'lab1:save' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="item"/>
    <button type="submit">submit</button>
  </form>
  <ul>
    {% for item in items %}
    <li>{{ item.name }}</li>
    <li>{{ item.created_date }}</li>
    {% endfor %}
  </ul>
</body>
</html>