<div class='row teal z-depth-3'>

    <h3 class='col s8 m8'>Welcome to the worlds best blog, <br> We have all the features. <br> All of them. &trade;</h3> 

    <div class='right-align'>

        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'><i class="material-icons">account_circle</i></a>
        
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            
            {% if user.is_anonymous %}
            <li><a href="{% url 'blog:home' %}"><i class="material-icons">home</i>Home</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="{% url 'blog:login' %}"><i class="material-icons">person</i>Login here</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="{% url 'blog:register' %}"><i class="material-icons">person_add</i>Register here</a></li>
            <li class="divider" tabindex="-1"></li>
            
            {% else %}
            <li class="divider" tabindex="-1"></li>
            <li><a href="{% url 'blog:home' %}"><i class="material-icons">home</i>Home</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="{% url 'blog:profile' %}"><i class="material-icons">person</i>my profile</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="{% url 'blog:logout' %}">Logout</a></h5></li>
            
            {% endif %}
        </ul>
    </div>


</div>
