*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content{
    display:flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

}

header{
    height: 10vh;
    background-color: aqua;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

aside{
    width: 20vw;
    background-color: coral;
}

.posts{
    width: 80vw;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: scroll;
}

p {
    height: 10%;
    background-color: chartreuse;
    margin-bottom: 1rem;
    padding:1rem;
}