{% extends 'blog/base.html' %}
{% block title %} Edit Post {% endblock %}
{% block content %}
<div class="container">
    <div class="row m-2">
        <div class="col"></div>
        <div class="col"><h1> Edit Post </h1></div>
        <div class="col"></div>
    </div>
    <form action="{% url 'blog:edit' post.id%}" method="POST">
        {% csrf_token %}
        <div class="row m-2">
            <div class="col"></div>
            <div class="col">
                <label for="title">Title:</label>
            </div>
            <div class="col">
                <input type="text" name="title" value="{{post.title}}">
            </div>
            <div class="col"></div>
        </div>
        <div class="row m-2">
            <div class="col"></div>
            <div class="col">
                <label for="body">Body:</label>
            </div>
            <div class="col">
                <input type="text" name="body" value="{{post.body}}">
            </div>
            <div class="col"></div>
        </div>
        <div class="row m-2">
            <div class="col"></div>
            <div class="col">
                <label for="public">Public:</label>
                <input type="radio" name="public" value="True">
            </div>
            <div class="col">
                <label for="public">Private:</label>
                <input type="radio" name="public" value="False">
            </div>
            <div class="col"></div>
        </div>
        <div class="row m-2">
            <div class="col"></div>
            <div class="col"><button class="btn btn-primary">Edit</button></div>
        </div>
    </form>
</div>
{% endblock %}