{% extends 'blog/base.html' %}
{% block title %} Profile {% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-2 mb-2">
        <div class="col"></div>
        <div class="col text-center"><h1>Welcome {{request.user}}</h1></div>
        <div class="col"></div>
    </div>
    <div class="row m-2">
        <div class="col"></div>
        <div class="col text-center"><h3>Your Post Titles</h3></div>
        <div class="col"></div>
    </div>
    <ul>
        {% for post in request.user.blogposts.all %}
        <div class="row m-2">
            <div class="col-5"></div>
            <li class="col">{{post.title}}</li>
            <div class="col-5"></div>
        </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}