<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django-CodeBusters</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col"><h1>Django Website</h1></div>
        </div>
        <div class="row">
            <div class="col"><h3>Hello {{name}}</h3></div>
        </div>
        {% if is_cool == True%}
        <div class="row">
            <div class="col">{{name}} is cool</div>
        </div>
        {% endif %}
        <ul>
            {% for color in colors %}
            <li>{{color}}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>